@charset "UTF-8";
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    background-color: #35B6E6;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}
header h1{
    text-align: center;
    font-size: 70px;
    color: white;
}
main section{
background-color: white;
padding: 15px;
margin: auto;
border-radius: 20px;
width: 590px;
height: 400px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}
div{
    text-align: center;
    padding: 2px;
    font-size: 30px;

}
footer > p {
text-align: center;
color: white;
font:normal 30px Arial, Helvetica, sans-serif;
font-style: italic;
} 